<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">

    <listeners>
        
        <listener class-name="org.example.listenersaImpl"></listener>
    </listeners>

    <test verbose="2" preserve-order="true" name="Validating data test case">
        <classes>

            <class name="org.example.HomePage">
                <methods>
                    <include name="basePageNavigation"/>
                </methods>
            </class>

        </classes>
    </test>
    <test verbose="2" preserve-order="true" name="Validating navigation bar test case">
        <classes>
            <class name="org.example.validateNavBar">
            <methods>
                <include name="basePageNavigation"/>
            </methods>
            </class>
    </classes>
</test>
<test verbose="2" preserve-order="true" name="Validating title test case">
    <classes>
            <class name="org.example.validateTitle">
                <methods>
                    <include name="basePageNavigation"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>